<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="batch-job.xml"/>
    <import resource="excel-columns.xml"/>
    <import resource="chart-columns.xml"/>

    <bean id="flatFileItemReader" class="org.springframework.batch.item.file.FlatFileItemReader">
        <property name="lineMapper" ref="csvFileLineMapper"/>
    </bean>

    <bean id ="csvFileLineMapper" class="com.saven.batch.mapper.CSVFileLineMapper">
        <property name="lineTokenizer"><bean class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer"/></property>
        <property name="fieldSetMapper" ref="csvFileColumnMapper"/>
    </bean>

    <bean id = "csvFileColumnMapper" class="com.saven.batch.mapper.DerivedFieldsColumnMapper" >
        <property name="identifier" value="B"/>
        <property name="defaultDataType" value="java.lang.Double"/>
        <property name="indexDataType">
            <map>
                <entry key="0" value="java.time.Instant" />
                <entry key="1" value="java.lang.Integer" />
            </map>
        </property>
        <property name="customColumnDecorator" ref="derivedFieldsDecorator"/>
    </bean>

</beans>